node_modules/
.DS_Store
data/
.db
/npm-debug.log
/data
/node_modules
routes
/routes
/githubKey.pub
/githubKey
.name
encodings.xml
misc.xml
modules.xml
researchmap.iml
scope_settings.xml
vcs.xml
workspace.xml