<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <title>ResearchMap</title>
  <link rel="stylesheet" type="text/css" href="/stylesheet.css">
  <link rel="stylesheet" href="css/iThing.css" type="text/css" />
  <link rel="stylesheet" href="css/square/blue.css" >
  <link href='http://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>

  <script type="text/javascript" language="javascript" src="js/modernizr-2.6.2-dev.js"></script>
	<script type="text/javascript" language="javascript" src="../d3/d3.v3.min.js"></script>
	<script type="text/javascript" language="javascript" src="js/queue.min.js"></script>
	<script type="text/javascript" language="javascript" src="js/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" language="javascript" src="js/jquery.dropdownPlain.js"></script>
	<script type="text/javascript" language="javascript" src="js/jquery.textchildren.js"></script>
	<script type="text/javascript" language="javascript" src="js/underscore-min.js"></script>
	<script type="text/javascript" language="javascript" src="js/more-show.js"></script>
	<!-- <script type="text/javascript" language="javascript" src="js/fisheye.js"></script>-->
	<script type="text/javascript" language="javascript" src="js/jquery.colorbox-min.js"></script>
	<script type="text/javascript" language="javascript" src="js/jquery.autocomplete.js"></script>
	<!-- <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>-->
  <script src="js/store2-2.1.2-min.js"></script>
  <script src="js/async.js"></script>
  <script src="js/jquery.icheck.min.js"></script>
	<script type="text/javascript" language="javascript" src="js/jquery-ui-1.10.3.custom.min.js"></script>
	<script type="text/javascript" language="javascript" src="js/chosen/chosen.jquery.js"></script>
	<script type="text/javascript" language="javascript" src="js/sankey.js"></script>

	
</head>
<body>

  <div class="header">
    <div class="row">
    <img src="img/rmlogo.png"></img>
    <a href="index.html"><h1>ResearchMap</h1></a>
    <div class="nav right">
      <ul>
        <a href="#login-box" class="login-window">
        <li>logout</li></a>
        <a href="demo.html">
        <li>help</li></a> 
      <a href="help.html">
        <li>contact</li></a>
      </ul> 
    </div>
    </div>  
  </div>



    {{{body}}}


  <div class="secondary group">
    <div class="row">
      <a class="logo" href="www.sci.uwo.ca"><img class="pic" src="img/science_logo.png" alt="Western Science"></a>
    </div>
  </div>

  <div class="footer group">
    <div class="row group">
      <p>contact information
        <br>
        <br>
        <br>
        science&#64uwo.ca
        <br><br>
        (519) 661-2111 x 86152
        <br>
        <br>
        Faculty of Science
        <br> western science centre
        <br>
        room 191
        <br><br>
        western university
        <br>
        1151 richmond street
        <br>
        london, on, canada
        <br>
        n6a 5b7
         <br>
        <br>
        <br>
        &#169 2013 paul parsons
      </p>
    </div>
  </div>    

 
</body>
</html>