
<div class="row">
  <div id="overview">
    <div id="overviewbanner">
     
    </div>
    <div id="distribution" class="overviewpanel">
      <h3>Departments</h3>
<!--       <div><label><input type="checkbox">sort?</label></div>-->   
    </div>
    <div id="ranks" class="overviewpanel">
      <h3>Ranks</h3>
    </div>    
    <div id="gender" class="overviewpanel">
      <h3>gender</h3>
    </div>
    <div id="contract" class="overviewpanel">
      <h3>Contracts</h3>
    </div>
    <div class="overviewpanel">
      <h3>Full List</h3>
    </div>
    <div id="overviewTable">
      
    </div>
  </div>
</div>

{{#scripts}}
<script type="text/javascript" src="js/modules/{{.}}.js"></script>
{{/scripts}}