<div style="overflow: hidden;">
	<div id = "grantpubContainer" style="margin: 0px; width: 100%; min-height: 750px; border: 1px solid #ebebeb; position:relative;">
		<img id="vizloader" src="img/viz-loader.gif" style="display: none;"></img>
		<div id="leftTreemap">
		</div>
		<div id="rightTreemap">
		</div>
		<div id="rightPanel" >
			<div id="verticalText">Show Filter</div>
			<div class="action" style="padding-left:40px">        
			  <p>grant status</p>
				<ul class="actionlist"> 
				 <li>
					<input type="checkbox" checked id="treemapFilterAccepted"></input> 
					<label for="treemapFilterAccepted">accepted</label>
				 </li>  
				 <li>
					<input type="checkbox" checked id="treemapFilterClosed"></input> 
					<label for="treemapFilterClosed">closed</label>
				 </li>
				 <li>
					<input type="checkbox" checked id="treemapFilterDeclined"></input> 
					<label for="treemapFilterDeclined">declined</label>
				 </li>
				 <li>
					<input type="checkbox" checked id="treemapFilterOthers"></input> 
					<label for="treemapFilterOthers">others</label>
				 </li>
				</ul>
				<p style="text-align:initial;">years<br>
					<label style="font-size:small;color:black;">Grants:</label> <br>
					<label id="yearText" style="border:0; color:#f6931f; font-weight:bold; font-size:14px;"></label>
				</p>
				<div id="yearSlider"></div>
				<br>
				<label style="color:rgb(150,150,150);font-size:14px;font-weight:bold;" for="availableAnalysis">Show available grants for analysis</label>
				<input align="center" type="checkbox" id="availableAnalysis"></input> 
				
			</div>
		</div>
	</div> 
	<div align="center">
		<img id="imgArrow" src="/img/arrowdown.png" alt="Show Grant-Pub Relation" title="Show/Hide Grant-Pub relation" height="42" width="42"> 
	</div>
	
	<div id="grantpubRelation" style="position:relative;">
		<div id="notAcceptedGrant" class="relationBox" style="position:absolute; top:60px; left: calc(50% - 250px); display:none;background-color:white;z-index:2;" align="center">
			<img src="/img/warning.png" alt="Warning sign" height="100" width="100">
			<br><br>
			<p class="boxParagraph">The selected grant is not accepted therefore there is not any related publication</p>
		</div>
		<div id="analysisError" class="relationBox" style="position:absolute; top:60px; display:none;background-color:white;z-index:2;" align="center">
			<img src="/img/warning.png" alt="Warning sign" height="100" width="100">
			<br><br>
			<p id="analysisErrorMessage" class="boxParagraph">Analysis had some errors</p>
		</div>

		<div style="position:absolute; z-index:-1;" >
			<p style="font:1.6em 'Oswald' sans-serif; color:black; margin-left:10px;">Grant-Publication Relation:</p>
		</div>
		
		<div class="relationBox" style="position:absolute;top:60px;left:10px;z-index:-1;max-width:30%;">
			<p class="boxParagraph title" style="font-weight:bold;" align="center">Grant</p>
			<p id="grantTitle" class="boxParagraph">Title:</p>
			<p id="grantAmount" class="boxParagraph">Amount:</p>
			<p id="grantInvestigator" class="boxParagraph">Investigators:</p>
			<br>
			<p id="grantDepartment" class="boxParagraph">Department:</p>
			<p id="grantSponsor" class="boxParagraph">Sponsor:</p>
			<p id="grantProgram" class="boxParagraph">Program:</p>
			<br>
			<p class="boxParagraph" style="float:left">Keywords:&nbsp;</p>
			<div id="grantKeywordBox" >
			</div>
			<br style="clear:left;"><br>
			<p id="grantBeginDate" class="boxParagraph" >Begin date:</p>
			<p id="grantEndDate" class="boxParagraph">End date:</p>
		</div>
		
		<div class="relationBox" align="center" style="position:absolute;top:30px;right:10px;">
			<p align="left" class="boxParagraph title" >Publications</p>
			<label id="relationYearText" style="border:0; color:#f6931f; font:bold 14px 'Arimo', sans-serif;">2000 - 2015</label>
			<div id="relationYearSlider"></div>
			<br>
			<p align="left" class="boxParagraph title">Analytics</p>
			<div style="border:1px dashed lightgray;">
				<input type="radio" name="analysisAlgorithm" value="Algorithm1" checked>
				<p class="boxParagraph">Exploration</label>
			</div>
			<div style="border:1px dashed lightgray;">
				<input type="radio" name="analysisAlgorithm" value="Algorithm2">
				<p class="boxParagraph" >Keyword Matching</label>
			</div>
			<div style="border:1px dashed lightgray;">
				<input type="radio" name="analysisAlgorithm" value="Algorithm3">
				<p class="boxParagraph" >Topic Modelling</label>
			</div>
			<br>
			<div id="optionShared">
				<p align="left" class="boxParagraph title">Author Correlation</p>
				<div style="border:1px dashed lightgray;">
					<input type="radio" name="AuthorCorrelation" value="0" checked>
					<p class="boxParagraph">Principal Only</label>
				</div>
				<div style="border:1px dashed lightgray;">
					<input type="radio" name="AuthorCorrelation" value="1">
					<p class="boxParagraph">All Investigators</label>
				</div>
				<p align="left" class="boxParagraph title">Aggregation</p>
				<div style="border:1px dashed lightgray;">
					<input type="radio" name="Aggregation" value="0" checked>
					<p class="boxParagraph">Uniform</label>
				</div>
				<div style="border:1px dashed lightgray;">
					<input type="radio" name="Aggregation" value="1">
					<p class="boxParagraph">Weighted</label>
				</div>
			</div>
			<div id="optionGroup1">
				<p align="left" class="boxParagraph title">Keyword Correlation</p>
				<div style="border:1px dashed lightgray;">
					<input type="radio" name="KeywordCorrelation" value="0" checked>
					<p class="boxParagraph">Linear Thresholding</label>
				</div>
				<div style="border:1px dashed lightgray;">
					<input type="radio" name="KeywordCorrelation" value="1">
					<p class="boxParagraph">Sigmoid Thresholding</label>
				</div>
				<br>
				<p align="left" class="boxParagraph title" >Relationship Confidence</p>
				<p class="boxParagraph" style="color:orange;">Low&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;High</p>
				<div id="probabilityFunction"></div>
			</div>
			<div id="optionGroup2">
				<p align="left" class="boxParagraph title" >Number of Topics</p>
				<p class="boxParagraph" style="color:orange;">1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3</p>
				<div id="numberOfTopicsSlider"></div>
				<br>
				<p align="left" class="boxParagraph title" >Number of Keywords</p>
				<p class="boxParagraph" style="color:orange;">1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5</p>
				<div id="numberOfKeywordsSlider"></div>
			</div>
		</div>
		
		<div align="center" id="submitBox" class="relationBox" style="position:absolute; top:480px; right:280px; background-color:#FAD9D9; z-index:1; display:none;">
			<p class="boxParagraph" style="color:red;">Submit your changes to see the result</p>
			<button id="grantPubSubmitButton" >Submit</button>
		</div>
		
		<div id="divKeyword" style="position:absolute; bottom:0px; right:0px; left:0px; border-top:3px solid lightgray; padding:0px;">
			<p style="font-weight:bold; font-family: sans-serif; font-size: 18px; color:black; float:left; margin:8px 10px 0px 0px;;">Co-authors:</p>
			<div id="authorBox" style="max-height: 70px;overflow-y:auto;margin-bottom:5px;">
			</div>
			<p style="font-weight:bold; font-family: sans-serif; font-size: 18px; color:black; clear:left; float:left; margin:8px 10px 0px 0px;;">Publication Keywords:</p>
			<div id="pubKeywordBox">
			</div>
			
		</div>
		
	</div>
</div>
 
 
{{#scripts}}
<script type="text/javascript" src="js/modules/{{.}}.js"></script>
{{/scripts}}
