
<div class="vizarea group">
	<div id="grantpubContainer">
		<img id="vizloader" src="img/viz-loader.gif" style="display: none;"></img>
		<div id="leftTreemap"></div>
		<div id="rightTreemap"></div>
  
	</div> 
 </div>

 
 
{{#scripts}}
<script type="text/javascript" src="js/modules/{{.}}.js"></script>
{{/scripts}}
