
<!--#######################################################################################################-->
<!--                           This contains the hidden content for lightbox                               -->

<!-- starting choice-->
<div style='display:none'>
  <div id='VRchoice' style='padding:10px; background:#fff;'>
    <p class="textcenter">Choose a starting visualization</p>
    <img src="img/sankey.png" class="left" id="sankeychoice"></img>
    <img src="img/treemap.png" class="right" id="treemapchoice"></img>
  </div>
</div>

<!--                                   end of hidden content for lightbox                                  -->
<!--#######################################################################################################-->

<div class="vizarea group">
  <div id="vizcontainer">
    <img id="vizloader" src="img/viz-loader.gif" style="display: none;"></img>
    <div id="sankeyviz"  style="display: none;">
      <div id="sankeybar">
        <img src="img/zoomin.png"></img>
        <img src="img/zoomout.png"></img>
        <div class="ui-widget">
          <input id="tags" />
        </div>
        <button id="networkreset">reset</button>
      </div>
    </div>
    <div id="treemapviz"  style="display: none;">
      <div id="treemapbar">
        <img src="img/zoomin.png"></img>
        <img src="img/zoomout.png"></img>
        <div class="ui-widget">
          <input id="tags" />
        </div>
        <button id="networkreset">reset</button>
      </div>
      <div id="treemaplegend">
      </div>
    </div>  
    <div id="bubbleviz"  style="display: none;">
      <div id="bubblebar">
        <img src="img/zoomin.png"></img>
        <img src="img/zoomout.png"></img>
        <div class="ui-widget">
          <input id="tags" />
        </div>
        <button id="networkreset">reset</button>
      </div>
    </div>    
  </div>
  <div id="actionpanel">
    <h2>Interaction Panel</h2>
<!--         <p>Listed below are the actions that are available for the displayed visualization.</p>
-->      
    <div id="sankeyactions">
      <h3>filter</h3><img src="img/info.png"></img><hr>
      <div class="action">
        <p>sources</p>
        <select id="filtersources" data-placeholder="Click to add sources" style="width:100%;" multiple class="chzn-select" tabindex="8">
            <option value=""></option>
        </select>
        <p>targets</p>
        <select id="filtertargets" data-placeholder="Click to add targets" style="width:100%;" multiple class="chzn-select" tabindex="8">
            <option value=""></option>
        </select>                   
        <p>years</p>
          <label for="sankeyyearbegin">start date</label>
          <input type="text" id="sankeyyearbegin" style="border: 0; color: #f6931f; font-weight: bold;" />

        <div id="sankeyyearbeginrange">
        </div>
          <label for="sankeyyearend">end date</label>
          <input type="text" id="sankeyyearend" style="border: 0; color: #f6931f; font-weight: bold;" />
        <div id="sankeyyearendrange">
        </div>          
      </div>

      <h3>fragmentation level</h3><img src="img/info.png"></img><hr>
      <div class="action">
          <label for="sankeyfrag">fragmentation level</label>
          <input type="text" id="sankeyfrag" value="Faculty" style="border: 0; color: #f6931f; font-weight: bold;"/>
        <div id="sankeyfragslider">
        </div>
      </div>
      <h3>translate</h3><img src="img/info.png"></img><hr>
      <div class="action">  
        <select id="sankeytranslate" data-placeholder="Translate to..." class="chzn-select" style="width:250px;" tabindex="4">
          <option value=""></option>
          <option value="treemap">treemap</option>
          <option value="bubble">bubble diagram</option>
        </select>
      </div>        
    </div>

    <div id="treemapactions">
      <h3>arrange</h3><img src="img/info.png"></img><hr>
      <div class="action">        
        <div id="selectcontainer">
          <select id="arrangetreemap" data-placeholder="Sort by..." class="chzn-select" style="width:250px;" tabindex="1"> 
            <option value=""></option>
            <option value="grantvalue">Grant Value</option>
            <option value="numgrants">Number of Grants</option>
          </select>
        </div>
      </div>

      <h3>translate</h3><img src="img/info.png"></img><hr>
      <div class="action">  
        <select id="treemaptranslate" data-placeholder="Translate to..." class="chzn-select" style="width:250px;" tabindex="4">
          <option value=""></option>
          <option value="sankey">flow diagram</option>
          <option value="bubble">bubble diagram</option>
        </select>
      </div>
    </div>  

    <div id="bubbleactions">
      <h3>arrange</h3><img src="img/info.png"></img><hr>
      <div class="action">        
        <div id="selectcontainer">
          <select id="arrangetreemap" data-placeholder="Sort by..." class="chzn-select" style="width:250px;" tabindex="1"> 
            <option value=""></option>
            <option value="grantvalue">Grant Value</option>
            <option value="numgrants">Number of Grants</option>
          </select>
        </div>
      </div>

      <h3>translate</h3><img src="img/info.png"></img><hr>
      <div class="action">  
        <select id="bubbletranslate" data-placeholder="Translate to..." class="chzn-select" style="width:250px;" tabindex="4">
          <option value=""></option>
          <option value="sankey">flow diagram</option>
          <option value="treemap">treemap</option>
        </select>
      </div>
    </div>           
  </div>
</div>

{{#scripts}}
<script type="text/javascript" src="js/modules/{{.}}.js"></script>
{{/scripts}}