
<div class="overviewdescription">
	Welcome to <b class="ac">VARSITY</b>: <b class="ac">V</b>isual <b class="ac">A</b>nalytics of <b class="ac">R</b>esearch network<b class="ac">S</b> and <b class="ac">I</b>ndus<b class="ac">T</b>r<b class="ac">Y</b> collaborations.</br> VARSITY offers 3 different views into the underlying information space:
	<ol class="desc">
		<li><b>Collaboration</b>: explore collaborations between departments and department members</li>
		<li><b>Grant</b>: explore grant allocations by department and sponsors</li>
		<li><b>Grant-Publication</b>: explore relations between publications and grants</li>
	</ol>
	Choose a view from the navigation bar above.
</div>

{{#scripts}}
	<script type="text/javascript" src="js/modules/{{.}}.js"></script>
{{/scripts}}
