
<div class="overviewdescription">
	Welcome to the VARSITY tool. VARSITY offers 3 different views into the underlying information space. Choose one from the navigation bar above.
</div>

{{#scripts}}
<script type="text/javascript" src="js/modules/{{.}}.js"></script>
{{/scripts}}
