<div class="navbar group">
  <ul class="dropdown row group">
    <li><a class="active" href="overview">Overview</a>
    </li>
    <li><a href="publications_map">Publications</a>
    </li>
    <li><a href="faculty">Faculty</a>
    </li>
    <li><a href="grants">Grants</a>
    </li>
    <li><a href="industry">Industry</a>
    </li>
    <img src="img/settings.png"></img>
  </ul>
</div>


<div class="primary group">
  <div class="row group">
    <h2 class="textcenter">ResearchMap Overview</h2>
    <hr>
  </div>
</div>



