<!-- this file needs to be filled out at some point-->

<div class="overviewdescription">
	ResearchMap is a visualization tool that supports interactive visual reasoning...ResearchMap offers multiple views into the underlying information space, each of which has unique benefits for performing tasks and activities. Choose a view below:
</div>

<div class="viewpanel">
	<h1>collaborations</h1>
	<div class="viewoption">
		<img></img>
		<div class="viewdescription">
			node-link diagram of collaborations...
		</div>
	</div>
</div>

<div class="viewpanel">
	<h1>grants</h1>
	<div class="viewoption">
		<img></img>
		<div class="viewdescription">
			node-link diagram of collaborations...
		</div>
	</div>
</div>

{{#scripts}}
<script type="text/javascript" src="js/modules/{{.}}.js"></script>
{{/scripts}}
