/*	Code by Arash
		27-2-2014
			CSS style for grant-publication
*/
/* old code
.node {
  cursor: pointer;
}

.node:hover {
  stroke: #000;
  stroke-width: 1.5px;
}

.node--root {
  stroke: #777;
  stroke-width: 2px;
}

.node--leaf {
  fill: white;
}

.label {
  font: 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-anchor: middle;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
}

.label,
.node--root,
.node--leaf {
  pointer-events: none;
}

*/

/* new code 28-04-2014*/

.cell.child:hover {
	stroke : #ffffff;
	stroke-width: 4px;
}




.cell.child.highlighted{
	stroke-width: 3px;
	stroke : yellow;
}

/*
-webkit-animation: strokeHighlight 2s infinite 0s;
animation: strokeHighlight 2s infinite 0s;
@-webkit-keyframes strokeHighlight
{
	0%  {stroke : yellow;}
	50% {stroke : #E6E600;}
	100% {stroke : yellow;}
}

@keyframes strokeHighlight
{
	0%  {stroke : yellow;}
	50% {stroke : #E6E600;}
	100% {stroke : yellow;}
} 
*/

.cell.labelbar.highlighted  rect{
	stroke : yellow;
	stroke-width: 3px;
}

.cell.labelbar.labelbar2.highlighted  rect{
	stroke : yellow;
	stroke-width: 3px;
}


/* ==============================================
				code by Arash - 21-04-2014
		add new stylesheet for Grant-Pub layout
	==============================================*/
#grantpubContainer{
	margin: 0px;
	width: 100%;
	min-height: 750px;
	border: 1px solid #ebebeb;
	position:relative;
	overflow: hidden;
}
#leftTreemap {
	border: 1px solid #ebebeb;
	width: calc(49% - 20px);
	position:absolute;
	left:0.5%;
	top : 20px;
	bottom:1px;
	z-index : 1;
}
#rightTreemap {
	border: 1px solid #ebebeb;
	width: calc(49% - 20px);
	position:absolute;
	right: calc(0.3% + 40px);
	top : 20px;
	bottom:1px;
	z-index : 1;
}
#rightPanel{
	border: 1px solid #ebebeb;
	position:absolute;
	width:250px;
	top : 20px;
	right: -210px;
	z-index : 2;
	background: #fff;

}
#verticalText{
	position: absolute;
	left: -28px;
	top: 45px;
	background-color: #f6931f;
	padding: 10px;
	border-radius: 5px 5px 0 0;
	float: left;
	-moz-transform: rotate(270deg);  /* FF3.5+ */
	-o-transform: rotate(270deg);  /* Opera 10.5 */
	-webkit-transform: rotate(-90deg);  /* Saf3.1+, Chrome */
	color: black;
	cursor:pointer;
	z-index:3;
	font-size:large;
}

#filterOptions{
	padding-left:40px;
}
.panelText{
	font-family: 'Fjalla One', sans-serif;
	color: black;
	font-weight: bold;
	display: inline-block;
	font-size: x-large;
	margin-top:10px;
	margin-left: 100px;
}
