/*	Code by Arash
			CSS style for grant-publication
*/

.cell.child:hover {
	stroke : #ffffff;
	stroke-width: 4px;
}
.cell.child.highlighted{
	stroke-width: 3px;
	stroke : yellow;
}
.cell.labelbar.highlighted  rect{
	stroke : yellow;
	stroke-width: 3px;
}
.cell.labelbar.labelbar2.highlighted  rect{
	stroke : yellow;
	stroke-width: 3px;
}
.activeAnalysis{
	stroke : black;
	stroke-width: 1px;
}
/* ==============================================
				code by Arash - 21-04-2014
		add new stylesheet for Grant-Pub layout
	==============================================*/
#leftTreemap {
	border: 1px solid #ebebeb;
	width: calc(49% - 20px);
	position:absolute;
	left:0.5%;
	top : 20px;
	bottom:1px;
	z-index : 1;
}
#rightTreemap {
	border: 1px solid #ebebeb;
	width: calc(49% - 20px);
	position:absolute;
	right: calc(0.3% + 40px);
	top : 20px;
	bottom:1px;
	z-index : 1;
}
#rightPanel{
	border: 1px solid #ebebeb;
	position:absolute;
	width:250px;
	top : 20px;
	right: -210px;
	z-index : 2;
	background: #fff;
}
#verticalText{
	position: absolute;
	left: -28px;
	top: 45px;
	background-color: #f6931f;
	padding: 10px;
	border-radius: 5px 5px 0 0;
	float: left;
	-moz-transform: rotate(270deg);  /* FF3.5+ */
	-o-transform: rotate(270deg);  /* Opera 10.5 */
	-webkit-transform: rotate(-90deg);  /* Saf3.1+, Chrome */
	color: black;
	cursor:pointer;
	z-index:3;
	font-size:large;
}
.panelText{
	font-family: 'Fjalla One', sans-serif;
	color: black;
	font-weight: bold;
	display: inline-block;
	font-size: x-large;
	margin-top:10px;
	margin-left: 100px;
}
#grantpubRelation{
	height: 800px;
	width: 100%;
	margin: -35px 0px 2px 0px;
	border: 1px solid #ebebeb;
	display:none;
}
#imgArrow{
	position: relative;
	top: -15px;
	left: -15px;
	z-index:1;
	cursor: hand;
}

/* grantPub relation   */
.relationNode {
  stroke: #000;
  stroke-width: 1.5px;
}
.relationLink {
  stroke: #999;
  stroke-opacity: 1;
}
.relationText{
	font-family: sans-serif;
	font-size: 18px;
	text-anchor:middle;
	pointer-events: none;
}
.boxParagraph{
	font-family: sans-serif;
	font-size: 14px;
	color:black;
	margin: 0px 0px 4px 0px;
}
.boxParagraph.title{
	font-weight:bold;
}
.relationBox{
	border:3px solid lightgray;
	min-width:200px; padding :10px;
}
.keywordText{
	font-family: sans-serif;
	font-size: 14px;
	font-weight:bold;
	color:black;
	padding: 7px;
	margin: 3px;
	cursor:pointer;
	position:relative;
	/*make it not selectable*/
	-moz-user-select: -moz-none;
   -webkit-user-select: none;
	float:left;
	border:1px solid;
	border-radius:10px 2px 10px 2px;
	box-shadow: 2px 2px 5px #888888;
}
.keywordText.active:hover , .keywordText.inactive:hover{
	border-color:blue;
}
.keywordText.pub.active{
	background-color:lightgreen;
}
.keywordText.pub.inactive{
	background-color:lightgray;
}
.keywordText.author.active{
	background-color:lightgreen;
}
.keywordText.author.inactive{
	background-color:lightgray;
}

.keywordText2{
	font-family: sans-serif;
	font-size: 12px;
	font-weight:bold;
	color:black;
	padding: 3px;
	margin: 3px 2px 3px 2px;
	position:relative;
	top:-6px;
	/*make it not selectable*/
	-moz-user-select: -moz-none;
   -webkit-user-select: none;
	float:left;
	border:1px solid;
	border-radius:4px;
	background-color:lightblue;
}