/*	Code by Arash
		27-2-2014
			CSS style for grant-publication
*/
/* old code
.node {
  cursor: pointer;
}

.node:hover {
  stroke: #000;
  stroke-width: 1.5px;
}

.node--root {
  stroke: #777;
  stroke-width: 2px;
}

.node--leaf {
  fill: white;
}

.label {
  font: 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-anchor: middle;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
}

.label,
.node--root,
.node--leaf {
  pointer-events: none;
}

*/

/* new code 28-04-2014*/
.cell.child:hover {
	stroke : #ffffff;
	stroke-width: 4px;
}

.cell.child.highlighted{
	stroke : #ffff00;
	stroke-width: 3px;
}

.cell.labelbar.highlighted  rect{
	stroke : #ffff00;
	stroke-width: 3px;
}

.cell.labelbar.labelbar2.highlighted  rect{
	stroke : #ffff00;
	stroke-width: 3px;
}